section {
  display: flex;
  margin-bottom: 200px;
  margin-right: 200px;
  margin-left: 200px;
}

section .weather {
  border: 1px solid #ccc;
  flex: 1;
  padding: 20px;
  text-align: center;
}

.weather span {
  font-weight: bold;
}